name: Build and Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Build
      run: dotnet build --configuration Release src/
    - name: Test
      run: dotnet test tests/
    - name: Publish
      run: dotnet publish --configuration Release src/
    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: darkrift-cli
        path: ./src/bin/Release/netcoreapp3.1/publish/
